nav#main_nav {
  background-color: black;
  display: flex;
  /* 화면의 특정한 위치에 강제 고정하기 */
  position: fixed;
  width: 100%;
}

nav#main_nav ul {
  /*
      container를 flex로 하고 child의
      margin-left : auto로 설정하면
      flex box내에서 오른쪽 정렬이 된다
      */
  margin-left: auto;
  list-style: none;
  display: flex;
  color: white;
  text-shadow: 1px 1px white;
}

nav#main_nav li {
  padding: 22px 15px 20px 15px;
  cursor: pointer;
}
nav#main_nav li:hover {
  background-color: whitesmoke;
  color: black;
}

nav#main_nav li.active {
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0.2);
}

nav#main_nav div {
  margin-left: auto;
}

nav#main_nav h1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
  padding: 12px 5px 5px 20px;
  text-transform: uppercase;
}

nav#main_nav div.menu_toggle {
  width: 100%;
  padding: 22px;
  text-align: right;
  color: white;
  font-size: 20px;
  display: none;
}
